/*exsternal*/
p{
    color: gold;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}

body{
background-color: darkturquoise;
background-image: url(../phe\ \(1\).jpg);
background-size: cover;
background-repeat: no-repeat;
}
/* Grouping CSS*/
fieldset, legend{
border: yellow groove 5px;
border-radius: 30px;

}
legend{
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}
table{
    border: 20px;
    margin: auto;
}
/* psudo element id*/
div#menu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
a.item:link, a.item:visited, a.item:active{
    text-decoration: none;
    font-size: 16pt;
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    background-color: black;
}
a.item:hover{
    text-decoration: none;
    font-size: 1pt;
    color: white;
    border: 2px solid greenyellow;
    padding: 15px;
    background-color: yellowgreen;
}
li.menu{
    color:gold;
}
