/*Hiasan di bagian navbar*/
table{
    background-image: url(frame.jpg);
    font-size: 10pt;
    forced-color-adjust: rgb(5, 23, 34);
    font-family: 'Times New Roman', Times, serif; 
    border: yellow groove 5px;
    border-radius: 30px;
    border: 20;
}
th,a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;
}
/*Hiasan di bagian header*/

body{
    background-color: darkturquoise;
    background-size: cover;
    background-repeat: no-repeat;
    border: rgb(5, 5, 63) 5px;
    border-radius: 30px;
    }
/*Hiasan bagian footer*/
body{
    background-color: rgb(31, 18, 1);
    font-family: 'Times New Roman', Times, serif;
}

/*Hiasan di bagian sidebar*/
body{
    background-image: url(frame.jpg);
    background-position: right;
    background-size: cover;
}
fieldset,legend{
    border: rgb(233, 233, 23) groove 5px;
    border-radius: 30px;
    font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width:auto;
}